@import url(https://fonts.googleapis.com/css?family=Nunito);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.ind {
  border-bottom: 1px solid #010101;
}

.ind ul li {
  font-weight: 800;
}

.container .row ul {
  display: flex;
}

.container .row ul li {
  width: 16%;
  padding: 8px;
  list-style: none;
}

.container .row ul li a {
  align-items: spa;
  margin: 4px;
}

